@import url(../bootstrap-5.3.3-dist/css/bootstrap.min.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    background-color:  #ffffff;
    background-size: 20px 20px;
    display: flex;
    min-height: 100vh;
    
}
.button-red:hover{
    background-color: #570000;
    color: antiquewhite;
}
.caja{
    margin: 0%;
    padding: 0%;
    text-align: right;
}
.button-red{
    background-color: rgb(0, 88, 104);
    color: aliceblue;
    border-radius: 10px;
    width: 25%;
    margin: 0%;
    font-size: 1rem;
}
.form{
    background-color:rgb(18, 141, 255);
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

.form_title{
    font-size: 2rem;
    margin-bottom: .5em;
}
.form_contenedor{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form_grupo{
    position: relative;
    --color: #ffffff;
}
.form_input{
    width: 100%;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
}
